
.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* outline: 1px solid red;   */
}
body{
  background-image: linear-gradient(0deg, rgba(255, 255,255,1)20%, rgb(141, 155, 163) 70%);
}
header{
position: sticky;
top: 0vh;
z-index: 1;
}
/* css footer */
footer{
background-color: black;
color: #f5f5f5;
height: 18vh;
}
.footer-p{
height: 12vh ;
}

.social-1{
height: 12vh;
}
.social-1 img{
width: 15%;
}
footer p{

width: 100%;
height: 5vh;
}
/* css navbar */
.here{
  background-color: beige;
  color: black;
  border-radius: 20%;
}
/* carousel */
.baner{
  margin-top: 10px;
  height: 40vh;
  border-radius: 15px;
}
.carousel img{
  margin-top: 10px;
  height: 38vh;
  object-fit: cover;
  border-radius: 25px;
}
/* css checkpoints */
i{
  color:rgb(230, 11, 131);
}
i:hover{
  color: whitesmoke;
}
.btn-1{
  border:black solid 2px;
}
.btn-1:hover{
  border: white solid 2px;
  background-color: black;
  color: whitesmoke;
}
.check-1{
  height: 1.5rem;
  color: rgb(206, 56, 2);
  font-weight: bolder;
  font-size: .9rem;
  
 
  transition: all 0.2s ease;
}
.check-1:hover{
  transform: scale(1.2);
  font-weight: 900;
}
/* css cards */
.cards h5{
font-size: 1.2rem;
font-weight: bolder;
}
.card img{
  border-radius: 30px;
}
.ct{
  height: 20vh;
  font-size: 1rem;
  font-weight: bold;
}
.card-1 {
  width: 290px;
  height: 120vh;
  font-size: .8rem;
  border-radius: 30PX;
  border: solid 1px rgb(10, 10, 10);
  background-image: linear-gradient(0deg, rgba(255, 255,255,1)20%, rgb(141, 155, 163) 70%);
  filter:grayscale(2);
}
.card-1:hover{
  background-image: linear-gradient(0deg, rgb(228, 211, 211)20%, rgb(12, 157, 241) 70%);
   filter: brightness(1);
  
}

/* css contact */
.box{
  border: black solid 2px;
}
/* css stats */
table{
  margin-top: 10px;
  border: rgb(20, 20, 20) solid 2px;
}
td{
  height: 3rem;
}
a{
text-decoration: none;
}
/* css details */
.mainDetails{
  width: 100%;
  max-height: 74vh;
}
.card-2{
  border-radius: 30px;
  background-image:  linear-gradient(0deg, rgba(255, 255,255,1)20%, rgb(141, 155, 163) 70%);
  border: solid 1px black;
  height: 70vh;
}
.card-2 img{
  border-radius: 30px;
  height: 65vh;
  
}
.card-title{
 font-size: 2rem;
}