.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* outline: 1px solid red;  */
}
body{
    background-image: linear-gradient(0deg, rgba(255, 255,255,1)20%, rgb(141, 155, 163) 70%);
}
 
.here{
    background-color: beige;
    color: black;
    border-radius: 20%;
}
.baner{
    margin-top: 10px;
    height: 40vh;
    border-radius: 15px;
}
.carousel img{
    margin-top: 10px;
    height: 38vh;
    object-fit: cover;
    border-radius: 25px;
}
i{
    color:rgb(230, 11, 131);
}
i:hover{
    color: whitesmoke;
}
.btn-1{
    border:black solid 2px;
}
.btn-1:hover{
    border: white solid 2px;
    background-color: black;
    color: whitesmoke;
}
.check-1{
    height: 1.5rem;
    color: rgb(206, 56, 2);
    font-weight: bolder;
    font-size: 1.3rem;
    
   
    transition: all 0.2s ease;
}
.check-1:hover{
    transform: scale(1.2);
    font-weight: 900;
}

.card-1 {
    width: 220px;
    height: 100vh;
    margin: 40px;
    font-size: 1rem;
    background-image: linear-gradient(0deg, rgba(255, 255,255,1)20%, rgb(141, 155, 163) 70%);
    transition: all 0.2 ease;
    filter:grayscale(2);
  }
  .card-1:hover{
    transform: scale(1.3);
    background-image: linear-gradient(0deg, rgb(168, 133, 133)20%, rgb(57, 119, 155) 70%);
     filter: brightness(1);
  }
  footer{
    background-color: black;
    color: whitesmoke;
  }
  .social{
    width: 100%;
    height: 100%;
  }
  footer p{
    
    width: 100%;
    height: 12vh;
  }
  
  .form-control{
    border: black solid 2px;
  }
  table{
    margin-top: 10px;
    border: rgb(20, 20, 20) solid 2px;
  }
  td{
    height: 3rem;
  }
  a{
  text-decoration: none;
  }
  .mainDetails{
    width: 100%;
    height: 74vh;
  }
  .card-2{
    height: 70vh;
  }